{% extends "admin_app/components/base.html" %}
{% load static %}
{% block content %}

{% include 'admin_app/components/header1.html' %}
<div class="container-fluid py-4">
    {% include 'admin_app/components/alert.html' %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <p class="mb-0">Add Student Result</p>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <!-- Student -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_student" class="form-control-label">Student:</label>
                                    {{ form.student }}
                                </div>
                            </div>
    
                            <!-- Registration Number -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_registration_number" class="form-control-label">Registration Number:</label>
                                    {{ form.registration_number }}
                                </div>
                            </div>
    
                            <!-- Name -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_name" class="form-control-label">Name:</label>
                                    {{ form.name }}
                                </div>
                            </div>
    
                            <!-- Programme -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_programme" class="form-control-label">Programme:</label>
                                    {{ form.programme }}
                                </div>
                            </div>
    
                            <!-- Semester -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_semester" class="form-control-label">Semester:</label>
                                    {{ form.semester }}
                                </div>
                            </div>
    
                            <!-- College -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_college" class="form-control-label">College:</label>
                                    {{ form.college }}
                                </div>
                            </div>
    
                            <!-- Course Code -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_course_code" class="form-control-label">Course Code:</label>
                                    {{ form.course_code }}
                                </div>
                            </div>
    
                            <!-- Course Title -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_course_title" class="form-control-label">Course Title:</label>
                                    {{ form.course_title }}
                                </div>
                            </div>
    
                            <!-- Credits -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_credits" class="form-control-label">Credits:</label>
                                    {{ form.credits }}
                                </div>
                            </div>
    
                            <!-- Continuous Assessment Marks -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_ca_marks" class="form-control-label">CA Marks:</label>
                                    {{ form.ca_marks }}
                                </div>
                            </div>
    
                            <!-- End Semester Evaluation Marks -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_ese_marks" class="form-control-label">ESE Marks:</label>
                                    {{ form.ese_marks }}
                                </div>
                            </div>
    
                            <!-- Total Marks -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_total_marks" class="form-control-label">Total Marks:</label>
                                    {{ form.total_marks }}
                                </div>
                            </div>
    
                            <!-- Grade Point -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_grade_point" class="form-control-label">Grade Point:</label>
                                    {{ form.grade_point }}
                                </div>
                            </div>
    
                            <!-- Credit Point -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_credit_point" class="form-control-label">Credit Point:</label>
                                    {{ form.credit_point }}
                                </div>
                            </div>
    
                            <!-- Result -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_result" class="form-control-label">Result:</label>
                                    {{ form.result }}
                                </div>
                            </div>
    
                            <!-- SGPA -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_sgpa" class="form-control-label">SGPA:</label>
                                    {{ form.sgpa }}
                                </div>
                            </div>
    
                            <!-- Grade -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_grade" class="form-control-label">Grade:</label>
                                    {{ form.grade }}
                                </div>
                            </div>
    
                            <!-- Status -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_status" class="form-control-label">Status:</label>
                                    {{ form.status }}
                                </div>
                            </div>
    
                            <!-- Submit Button -->
                            <div class="col-md-12 d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Add Result</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}