{% extends "admin_app/components/base.html" %}
{% load static %}
{% block content %}

{% include 'admin_app/components/header.html' %}
<div class="container-fluid py-4">
    {% include 'admin_app/components/alert.html' %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-flex align-items-center">
                    <p class="mb-0">Edit Staff</p>
                </div>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <!-- Faculty ID -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_fac_id" class="form-control-label">Faculty ID:</label>
                                <input type="text" name="fac_id" id="id_fac_id" class="form-control" value="{{ faculty.id }}" required>
                            </div>
                        </div>

                        <!-- Name -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_name" class="form-control-label">Name:</label>
                                <input type="text" name="name" id="id_name" class="form-control" value="{{ faculty.username }}" required>
                            </div>
                        </div>

                        <!-- Date of Birth -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_dob" class="form-control-label">Date of Birth:</label>
                                <input type="date" name="dob" id="id_dob" class="form-control" value="{{ faculty.dob|date:'Y-m-d' }}" required>

                            </div>
                        </div>

                        <!-- Place -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_place" class="form-control-label">Place:</label>
                                <input type="text" name="place" id="id_place" class="form-control" value="{{ faculty.place }}" required>
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_address" class="form-control-label">Address:</label>
                                <textarea name="address" id="id_address" class="form-control" rows="3" required>{{ faculty.address }}</textarea>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_email" class="form-control-label">Email:</label>
                                <input type="email" name="email" id="id_email" class="form-control" value="{{ faculty.email }}" required>
                            </div>
                        </div>

                        <!-- Phone Number -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_phoneno" class="form-control-label">Phone Number:</label>
                                <input type="tel" name="phoneno" id="id_phoneno" class="form-control" value="{{ faculty.phone_number }}" required>
                            </div>
                        </div>

                        <!-- Photo -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_photo" class="form-control-label">Photo:</label>
                                <input type="file" name="photo" id="id_photo" class="form-control" accept="image/*">
                                <p class="text-muted">current: {{ faculty.image }}</p>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="col-md-12 d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Update Staff</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}