
{% extends "admin_app/components/base.html" %}
{% load static %}
{% block content %}

  {% include 'admin_app/components/header1.html' %}
<div class="container-fluid py-4">
  {% include 'admin_app/components/alert.html' %}

  <div class="card mt-5">
    <div class="card-body text">
        <!-- Profile Photo -->
        {% if current_user.image %}
            <img src="{{ current_user.image.url }}" alt="Profile Photo" class="img-thumbnail mb-3" width="100">
        {% else %}
            <p><em>No photo uploaded</em></p>
        {% endif %}

        <!-- User Details -->
        <h3 class="pb-3">Welcome, {{ current_user.first_name }} {{ current_user.last_name }}</h3>

        <div class="row">
            <div class="col-md-6">
                <p><strong>Username:</strong> {{ current_user.username }}</p>
                <p><strong>Email:</strong> {{ current_user.email }}</p>
                <p><strong>Role:</strong> 
                    {% if current_user.is_fac %}
                        Faculty
                    {% else %}
                        Student
                    {% endif %}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Date of Birth:</strong> 
                    {% if current_user.dob %}
                        {{ current_user.dob|date:"F j, Y" }}
                    {% else %}
                        <em>Not provided</em>
                    {% endif %}
                </p>
                <p><strong>Phone Number:</strong> 
                    {% if current_user.phone_number %}
                        {{ current_user.phone_number }}
                    {% else %}
                        <em>Not provided</em>
                    {% endif %}
                </p>
                <p><strong>Address:</strong> 
                    {% if current_user.address %}
                        {{ current_user.address }}
                    {% else %}
                        <em>Not provided</em>
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <p><strong>Place:</strong> 
                    {% if current_user.place %}
                        {{ current_user.place }}
                    {% else %}
                        <em>Not provided</em>
                    {% endif %}
                </p>
                
            </div>
            <div class="col-md-6">
                <p><strong>Date Joined:</strong> {{ current_user.date_joined|date:"F j, Y" }}</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}