{% extends "admin_app/components/base.html" %}
{% load static %}
{% block content %}

{% include 'admin_app/components/header1.html' %}
<div class="container-fluid py-4">
    {% include 'admin_app/components/alert.html' %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Notifications</h5>
                </div>
                <div class="card-body">
                    {% if notifications %}
                        <ul class="list-group">
                            {% for notification in notifications %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="mb-0">{{ notification.description }}</p>
                                        
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-center text-muted">No notifications available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}